.linkLabel {
    -fx-text-fill: #dca70b;
    -fx-underline: true;
}

.linkLabel:hover {
    -fx-border-color: #dca70b;
}

.reportInfo {
    -fx-text-alignment: center;
    -fx-visibility: hidden;
    -fx-text-fill: red;
    -fx-wrap-text: true;
}

.mainVBox {
    -fx-padding: 20;
    -fx-max-width: 33%;
    -fx-alignment: CENTER;
    -fx-spacing: 20;
}

#loginBtn {
    -fx-font-weight: bold;
    -fx-max-width: "INFINITY";
}
.pageButton {
    -fx-text-fill: #ffffff;
    -fx-background-color: #f1bd02;
    -fx-min-height: 35;
}
.pageButton:hover {
    -fx-background-color: #e4a30a;
}

.pageButton:pressed {
    -fx-background-color: #d8990a;
}

/*.Root {*/
/*    -fx-background-color: #fff1a9;*/
/*    -fx-font-size: 15;*/
/*}*/

#registerBox, #forgotBox {
    -fx-opacity: 0;
    visibility: false;
    -fx-alignment: CENTER;
    -fx-spacing: 40;
}