.menu-button .arrow-button {
    -fx-padding: 0;
    -fx-background-color: transparent;
    -fx-shape: "";
}

.menu-button {
    -fx-background-color: transparent;
    -fx-padding: 10px;
    -fx-border-color: transparent;
}

.menu-item {
    -fx-background-color: transparent;
    -fx-padding: 10px;
    -fx-border-color: transparent;
}